{:production true
 :port 3000 ;; prod?
 ;:site-url "http://localhost:8080/humfunding" ; TODO
 :site-url "http://humpre.byu.edu/humfunding"
 :database-url "mongodb://127.0.0.1/humfunding_dev" ;; DERELICT
 :access-token "74641c25860f55dc930c9ba036e08bdb"
 :client-id "13300"
 :authorized-netids   #{"torysa"
                        "sh8"}}
