body {
  background-color: #F9FCFE;
  font-size: 16px;
  line-height: 1.5;
}

div.navbar, nav.navbar {
  background-image: none;
  background-color: #002255;
  background: linear-gradient(#002255, #114477);
  color: #F9FCFE;
}

.navbar-inverse .navbar-nav > .active > a {
  background-image: none;
  background-color: #002255;
  background: linear-gradient(#002255, #114477);
  color: #F9FCFE;
}

.navbar-inverse .navbar-nav > .active > a:hover {
  background-image: none;
  background-color: #002255;
  background: linear-gradient(#002255, #114477);
  color: #F9FCFE;
}

.jumbotron {
  background-color: #002255;
  background: linear-gradient(#114477, #336699);
  color: #F9FCFE;
}

div.doc {
  display: inline-block;
  margin: 3px;
}

div.funding-type {
  text-align: center;
}

div.funding-type a.btn {
  display: block;
  width: 20%;
  margin: 0.5em auto;
}

div.table {
  display: table;
  margin: 10px;
}

div.table :nth-child(even) {
  background-color: #D1E4F6;
}

div.table div.row {
  display: table-row;
}

div.table div.headers {
  font-weight: bold;
  text-decoration: underline;
}

div.table div.cell {
  display: table-cell;
  padding: 10px;
  width: 19%;
}

div.table a {
  cursor: pointer;
}

#floatingCirclesG {
  position: relative;
  width: 125px;
  height: 125px;
  margin: auto;
  transform: scale(0.6);
}

.f_circleG {
  position: absolute;
  background-color: rgb(255,255,255);
  height: 22px;
  width: 22px;
  border-radius: 12px;
  animation-name: f_fadeG;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

#frotateG_0 {
  left: 0px;
  top: 51px;
  animation-delay: 0.45s;
}

#frotateG_1 {
  left: 15px;
  top: 15px;
  animation-delay: 0.6s;
}

#frotateG_2 {
  left: 51px;
  top: 0px;
  animation-delay: 0.9s;
}

#frotateG_3 {
  right: 15px;
  top: 15px;
  animation-delay: 0.9s;
}

#frotateG_4 {
  right: 0px;
  top: 51px;
  animation-delay: 1.05s;
}

#frotateG_5 {
  right: 15px;
  bottom: 15px;
  animation-delay: 1.2s;
}

#frotateG_6 {
  left: 51px;
  bottom: 0px;
  animation-delay: 1.35s;
}

#frotateG_7 {
  left: 15px;
  bottom: 15px;
  animation-delay: 1.5s;
}

@keyframes f_fadeG {

  from {
    background-color: #000000;
  }
  
  to {
    background-color: #ffffff;
  }

}